/* -------RESET--------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body *{
    font-family: 'Lato', sans-serif;
    
}

ol,
ul,
menu {
    list-style-type: none;
}
img {
    max-width: 100%;
}
button{
    background: transparent;
    border-radius: 20px;
    padding: 5px;
    border-color: transparent;
}
a {
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
    max-height: auto;
    
}